@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* main page css */

.header_style {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.header_title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.card_style {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
}
.ads_style {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 10px;
  max-width: 100%;
  max-height: auto;
}
.signup_button {
  width: 100%;
  padding: 5px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #28a745;
  margin-top: 10px;
}

.login_button {
  background-color: navy;
  width: 99%;
  padding: 5px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}
/*registracija css*/
.reg_username {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 14px;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 15px;
}
.reg_mail {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 14px;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 15px;
}
.reg_password {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 14px;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 15px;
}
.ads_style_welcome_page {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 20%;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
}

/* Skrije scrollbare */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

